/*.background {
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/

.app {
	/*background-color: #333;*/
	color: white;
}

/* Navbar */
.navbar {
	padding: 6px;
	margin: 0;
	background-color: #A8E0D5;
}

.navbar .brand a {
	color: #f77a76;
    background-color: #A8E0D5;
	text-decoration: none;
}
.navbar .brand a:hover {
	color: #FF8E88;
	text-decoration: none;
}

.navbar .brand {
	font-family: 'Source Serif Pro', serif;
	font-size: 24px;
	display: inline;
	float: left;
	padding:2px 16px;
	margin: 0;
}
.navbar .signup, .navbar .login {
	display: inline;
	float:right;
	padding: 6px 16px;
	width: 100px;
	text-align: center;
}
.navbar .username {
	display: inline;
	float:right;
	padding: 6px 16px;	
	color: #f77a76;
	font-size: 14px;
}
.navbar .login {
	color: #f77a76;
	border: 2px solid #f77a76;
}
.navbar .login:hover {
	color: #A8E0D5;
	background-color: #f77a76;
}
@media screen and (max-width: 350px) {
	.navbar .login {
		display: none;
	}
}
.navbar .signup {
	color: black;
	background-color: white;
	border: 2px solid white;
}
@media screen and (max-width: 450px) {
	.navbar .signup {
		display: none;
	}
}
.navbar .signup:hover {
	color: white;
	background-color: initial;
}