.background {
	background-color: white;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	font-family: 'Source Serif Pro', serif;
}
p {
	font-size: 18px;
}


.canvas1 {
	height: 600px;
	background: url("../../images/background.jpg");
	background-size: 100% auto;
	background-position: center bottom;
	text-align: center;
	color: #fdf9f3;
}
.navbar {
	padding: 20px;
}
.brand {
	font-family: 'Source Serif Pro', serif;
	font-size: 24px;
	display: inline;
	float: left;
	padding: 6px 20px;
}
.login {
	display: inline;
	float:right;
	padding: 10px 20px;
	border: 2px solid white;
	width: 89px;
}
@media screen and (max-width: 350px) {
	.login {
		display: none;
	}
}
.signup {
	display: inline;
	float:right;
	padding: 10px 20px;
	color: black;
	background-color: white;
	border: 2px solid white;
	width: 89px;
}
@media screen and (max-width: 450px) {
	.signup {
		display: none;
	}
}
.signup:hover {
	color: white;
	background-color: initial;
}
.header {
	font-size: 36px;
	margin: 100px 0;
}
.canvas1 form {
	width: 100%;
	padding: 10px;
	max-width: 500px;
	margin: 0 auto;
}
.canvas1 input {
	width: 100%;
	margin: 0 auto;
}
.search {
    background-color: #333;
    width: 100%;
    cursor: pointer;
    height: 42px;
    border: 1px solid white;
    font-size: 20px;
    padding: 7px 20px;
    margin-top: 10px;
    border-radius: 4px;
}
@media screen and (min-width: 480px) {
	.canvas1 input {
	    width: 350px;
	    display: inline-block;
	    font-size: 20px;
	    padding: 20px;
	    border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
	    border-right: none;
	}
	.search {
		display: inline;
	    margin-top: 0;
	    float: right;
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	    border-left: none;
	    width: 130px;
	}
}
.canvas2 {
	overflow: hidden;
}
.canvas2 .caption{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
}
.canvas2 .left{
	height:400px;
	float: left;
	width: 66%;
	padding-left: 40px;
	background-image: url("../../images/background2.png");
	background-repeat: no-repeat;
	background-position: center;
}
.canvas2 .right{
	float: right;
	width: 33%;
	height: 400px;
	padding-right:80px;
}
.canvas2 .right h2{
	margin-top: 80px;
	margin-bottom: 20px;
}
.canvas2 .right .contribute {
	text-align: center;
}
.canvas2 .right .contribute .button {
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	border: 2px solid #5F9F9F;
	color: #5F9F9F;
	font-size: 20px;
	width: 200px;
	border-radius: 5px;
}
.canvas2 .right .contribute .button:hover {
	background-color: #5F9F9F;
	color: white;
	transition: background-color 0.2s ease,
				color 0.2s ease;
}
@media screen and (max-width: 700px) {
	.canvas2 .left {
		width: 100%;
		float: none;
	}
	.canvas2 .right {
		width: 100%;
		float: none;
		text-align: center;
		padding: 10px 0;
		max-width: 300px;
		margin: 0 auto;
		height: auto;
	}
	.canvas2 .right h2 {
		margin-top: 0;
	}
}
.wordcloud {
	margin: 20px;
	text-align: center;
	font-size: 14px;
}
@media screen and (max-width: 700px) {
	.wordcloud {
		font-size: 2vw;
	}
}
.canvas3 {
	margin-top: 20px;
	display:block;
	background-color: #51928c;
	overflow: hidden;
	background-image: url("../../images/crowdsourcing.jpg");
	min-height: 400px;	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fdf9f3;
	font-size: 40px;
}
.canvas3 .left{
	padding: 20px;
	float:left;
	width: 55%;
}
.canvas3 .left h1{
	margin-left: 200px;
	margin-top: 200px;

}
.canvas3 .right{
	float:left;
	width: 45%;

}
.canvas3 .right h1{
	margin-top: 150px;
}
.footer {
	height:200px;
	padding: 50px;
	background-image: url("../../images/footer.png");
	background-repeat: no-repeat;
	background-position: center;
}
.footer .copyright{
	text-align: center;
	margin-top: 120px;
}


