.background {
	background-color: #white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}



.canvas1 {
	height: 500px;
	background: url("../../images/background.jpg");
	text-align: center;
	color: #fdf9f3;
}
.navbar {
	padding: 20px;
}
.brand {
	display: inline;
	float: left;
	padding-left: 20px;
}

.login {
	display: inline;
	float:right;
	padding-right: 20px;
}
.signup {
	display: inline;
	float:right;
	padding-right: 20px;
}
.canvas1 input {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	font-size: 20px;
	padding: 20px;
}
.canvas1 h1{
	font-size: 60px;
	text-align: center; 
	margin-bottom: 80px;
	margin-top: 80px;
}
.canvas2 {
	overflow: hidden;
}
.canvas2 .caption{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
}
.canvas2 .left{
	height:400px;
	float: left;
	width: 66%;
	padding-left: 40px;
	background-image: url("../../images/background2.png");
	background-repeat: no-repeat;
	background-position: center;
}
.canvas2 .right{
	float: right;
	width: 33%;
	height: 400px;
	padding-right:80px;
}
.canvas2 .right h2{
	margin-top: 80px;
	margin-bottom: 20px;
}
.canvas2 .right .contribute {
	text-align: center;
}
.canvas2 .right .contribute .button {
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	border: 2px solid #5F9F9F;
	color: #5F9F9F;
	font-size: 20px;
	width: 200px;
	border-radius: 5px;
}
.canvas2 .right .contribute .button:hover {
	background-color: #5F9F9F;
	color: white;
	transition: background-color 0.2s ease,
				color 0.2s ease;
}
.canvas3 {
	margin-top: 20px;
	display:block;
	background-color: #51928c;
	overflow: hidden;
	background-image: url("../../images/crowdsourcing.jpg");
	min-height: 400px;	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fdf9f3;
	font-size: 40px;
}
.canvas3 .left{
	padding: 20px;
	float:left;
	width: 55%;
}
.canvas3 .left h1{
	margin-left: 200px;
	margin-top: 200px;

}
.canvas3 .right{
	float:left;
	width: 45%;

}
.canvas3 .right h1{
	margin-top: 150px;
}
.footer {
	height:200px;
	padding: 50px;
	background-image: url("../../images/footer.png");
	background-repeat: no-repeat;
	background-position: center;
}
.footer .copyright{
	text-align: center;
	margin-top: 120px;
}


