html { 
/*	background: url(/images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
body {
	background: none;
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	color: #f77a76;
	margin: 0;
	font-family: 'Source Serif Pro', serif;
}
p {
	font-size: 18px;
}
a {
	co
}
.content {
	padding: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}
.margins{
	padding: 10px 25%;
}
.list-group {
	margin-top: 10px;
}
.list-group .list-group {
	margin: 0;
}
* {
	border-radius: 0 !important;
}
.list-group-item {
	background: none;
}
/* Title */
.list-group .title {
	background-color: #A8E0D5;
	border: none;
	color: black;
}
.list-group .title a {
	color: #BBB;
}
.list-group .title a:hover {
	color: #999;
}
/*Buttons*/
.buttons {
	color: black;
	background-color: #f77a76;
	border-color: white;
	border-top: none;
	font-size: 20px;
	cursor: pointer;
}