<div class="canvas1">
	<h2 class="header">Your personalized learning platform.</h2>
	<div class="search">
      	<input type="text" class="form-control" #topic
      		(keyup.enter)="start(topic.value)"
      		placeholder="What would you like to learn?">
       	<button class="btn-search" (click)="start(topic.value)">
      		Start
      	</button>
  	</div>
  	<div class="popular-trajectories">
		<ul class="list-group">
			<li class="list-group-item title">
				Popular Items
			</li>
			<li class="list-group-item trajectory" *ngFor="#trajectory of trajectories">
				<a [routerLink]="['Trajectory', { trajectory_id: trajectory.pk }]">
					{{trajectory.name}}
				</a>
			</li>
		</ul>
  	</div>
</div>
<!--<body class="background">
	<div class="canvas1">
		<div class="navbar">
			<div class="brand">LearnSomething</div>
			<div class="signup">Sign Up</div>
			<div class="login">Log In</div>
		</div>
		<h2 class="header">Your personalized learning platform.</h2>
		<div class="search">
          	<input type="text" class="form-control" #topic
          		(keyup.enter)="start(topic.value)"
          		placeholder="What would you like to learn?">
           	<button class="btn-search" (click)="start(topic.value)">
          		Start
          	</button>
      	</div>
	</div>
	<div class="canvas2">
		<h3 class="caption">Sharing and Contributing</h3>
		<div class="left" [style.background-image] = "'url(' + url + ')'"></div>
		<div class="right">
			<h2>Join a community</h2>

			<p>Learn something leverages the power of community so you know what to learn and where to learn it.  You can start contributing as soon as you join to help others learn what you have.</p>
			<div class="contribute">
				<div class="button">Start Contributing</div>
			</div>
		</div>
	</div>

	<div class="canvas3">
		<style type="text/css">
			#htmltagcloud{
				font-size: 50%;
				width: auto;		/* auto or fixed width, e.g. 500px   */
				margin:1em 1em 0 1em;
				padding:2em; 

			}
			#htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}
			.wrd{padding:0;position:relative}
			.wrd a{text-decoration:none}
			.tagcloud0{font-size:1.0em;color:white;z-index:10}
			.tagcloud1{font-size:1.4em;color:white;z-index:9}
			.tagcloud2{font-size:1.8em;color:white;z-index:8}
			.tagcloud3{font-size:2.2em;color:white;z-index:7}
			.tagcloud4{font-size:2.6em;color:white;z-index:6}
			.tagcloud5{font-size:3.0em;color:white;z-index:5}
			.tagcloud6{font-size:3.3em;color:white;z-index:4}
			.tagcloud7{font-size:3.6em;color:white;z-index:3}
			.tagcloud8{font-size:3.9em;color:white;z-index:2}
			.tagcloud9{font-size:4.2em;color:white;z-index:1}
			.tagcloud10{font-size:4.5em;color:white;z-index:0}
			.freq{font-size:10pt !important;color:#bbb}
			</style>

			<div class="wordcloud"> 
				<span id="0" class="wrd tagcloud0">
					absorb
				</span> 
				<span id="1" class="wrd tagcloud0">
					achieve
				</span> 
				<span id="2" class="wrd tagcloud3">
					chemistry
				</span> 
				<span id="3" class="wrd tagcloud0">
					class
				</span> 
				<span id="4" class="wrd tagcloud3">
					collaborative
				</span> 
				<span id="5" class="wrd tagcloud3">
					community
				</span> 
				<span id="6" class="wrd tagcloud0">
					complete
				</span> 
				<span id="7" class="wrd tagcloud3">
					cooking
				</span> 
				<span id="8" class="wrd tagcloud6">
					digital
				</span> 
				<span id="9" class="wrd tagcloud0">
					easy
				</span> 
				<span id="10" class="wrd tagcloud6">
					education
				</span> 
				<span id="11" class="wrd tagcloud0">
					goals
				</span> 
				<span id="12" class="wrd tagcloud6">
					help
				</span> 
				<span id="13" class="wrd tagcloud6">
					history
				</span> 
				<span id="14" class="wrd tagcloud6">
					illuminate
				</span> 
				<span id="15" class="wrd tagcloud10">
					knowledge
				</span> 
				<span id="16" class="wrd tagcloud8">
					learning
				</span> 
				<span id="17" class="wrd tagcloud6">
					library
				</span> 
				<span id="18" class="wrd tagcloud7">
					organize
				</span> 
				<span id="19" class="wrd tagcloud3">
					physics
				</span> 
				<span id="20" class="wrd tagcloud0">
					religion
				</span> 
				<span id="21" class="wrd tagcloud0">
					school
				</span> 
				<span id="22" class="wrd tagcloud3">
					science
				</span> 
				<span id="23" class="wrd tagcloud6">
					teach
				</span> 
				<span id="24" class="wrd tagcloud3">
					together
				</span> 
				<span id="25" class="wrd tagcloud0">
					trivia
				</span> 
				<span id="26" class="wrd tagcloud6">
					understand
				</span> 
				<span id="27" class="wrd tagcloud0">
					work
				</span> 
			</div>
	</div>
	<div class="footer">
		<div class="copyright">&#169; HYP, Cornell Tech, Made in NYC</div>
	</div>
</body> -->