<div class="login">
	<div class="content">
		<div class="form-list form-login list-group">
			<div class="list-group-item title"><h3>Login</h3></div>
			<input type="text" class="form-control item" #lusername
				placeholder="Username">
			<input type="password" class="form-control item" #lpassword
				placeholder="Password">
			<button class="item btn btn-primary btn-block buttons" (click)=signin(lusername.value,lpassword.value)>Login</button>	
		</div>
		<div class="form-list form-login list-group">
			<div class="list-group-item title"><h3>Create Account</h3></div>
			<input type="text" class="form-control item" #email
				placeholder="Email">
			<input type="text" class="form-control item" #username
				placeholder="Username">
			<input type="password" class="form-control item" #password
				placeholder="Password">
			<button class="item btn btn-primary btn-block buttons" (click)=signup(email.value,username.value,password.value)>Create Account</button>	
		</div>
	</div>
</div>