<div class="post-list">
	<div class="margins link">
		<ul class="list-group">
			<li class="list-group-item" *ngFor="#post of postlist">
				<div class="voting">
					<div (click)=upVote(post) class="arrow upvote" [ngClass]="{clicked:post.vote===1}">
						<!-- <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> -->
						<i class="icon-chevron_up"></i>
					</div>
					<!-- <div class="label label-default label-pill">{{ post.score }}</div> -->
					<div class="score">{{ post.score }}</div>
					<div (click)=downVote(post) class="arrow downvote" [ngClass]="{clicked:post.vote===-1}">
						<!-- <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> -->
						<i class="icon-chevron_down"></i>
					</div>
				</div>
				<div class="body">
					<!-- <h3 class="title">{{post.title}}</h3> -->
					<h3 class="url"><a href="{{post.url}}" target="_blank">{{post.title}}</a></h3>
				</div>
			</li>
		</ul>
		<div class="form-list add-post">
			<input type="text" class="form-control item" #newTitle
		  		(keyup.enter)="addPost(newURL.value,newTitle.value)"
		  		placeholder="Title">
			<input type="text" class="form-control item" #newURL
		  		(keyup.enter)="addPost(newURL.value,newTitle.value)"
		  		placeholder="URL">
			<button class="item btn btn-primary btn-block buttons" (click)=addPost(newURL.value,newTitle.value)>Add Link</button>	
		</div>
	</div>
</div>